* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: 100%;
    width: 100%;
    padding: 10px;


}

.child {
    background-color: blueviolet;
    height: calc(6.25% - 5px);
    width: calc(6.25% - 5px);
    height: 200px;
    border: 1px solid black;
    transition: background-color 0.3s ease;
}

#btn-grid {
    background-color: blueviolet;
    padding: 5px;
    margin: 10px;
    height: 60px;
    width: 300px;
    font-size: 16px;
}